@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Roboto:wght@400&display=swap');

html{
    background-color: rgb(16, 14, 37);
    color:  white;
    font-family: 'Roboto', sans-serif;
}
body{
    margin: 0;
    padding: 0;
}
.header{
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin: 25px;
   height:auto;
}
.header-content-1{
    display: grid;
    grid-template-columns: repeat(2, 150px);
    align-items: center;
}
.header-content-1 ul {
    display: flex;
}
.header-content-1 ul li {
    list-style-type: none;
    margin: 15px;
    font-weight: 500;
    cursor: pointer;
    transition: transform .3s linear;
}
li:nth-child(5){
    color: orange;
    font-weight: bold;
}
li:hover{
    transform: translateY(-5px);
    text-decoration: underline;
}

.header-content-2{
   display: flex;
   justify-content: space-between;
   align-items: center;
   gap: 20px;
}
.header-content-2 #Input-field{
    min-width: 100%;
    font-size: 1.2rem;
    padding: 5px;
    background-color: rgb(16, 14, 37);
    border-color: white;
    border-top: none;
    border-left: none;
    border-right: none;
    color: white;
}
#Input-field:focus{
    outline: none;
}

button{
    padding: 10px;
    background-color: rgb(62, 62, 241);
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    border: none;
    border-radius: 10px;
}
.image img{
    width: 120px;
    height: 200px;
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
    border-radius: 10px;
    transition: transform .4s linear;
    cursor: pointer;
}
.image img:hover{
    transform: scale(1.5);
}

.container-1, .container-2, .container-3, .container-4, .container-5{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
} 
h1{
    font-family: 'Roboto', sans-serif;
    font-size: 1.1rem;
    margin: 10px;
    padding: 10px;
    font-weight: 900;
    text-transform: capitalize;
    cursor: pointer;
}
h1:hover{
    color:rgb(95, 95, 243);
}

.img{
    margin: 5px;
    display: flex;
}
.img img{
    width: 100%;
}

/* aside */

.img-slide img{
    width:100%;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.img-container{
    display: flex;
    transition: display 2s linear;
}
#prev, #next{
    margin: 50px;
    background: none;
    font-size: 3.4rem;
}